@import "./reset";

/*GLOBALS*/
html {
  font-size: 62.5%;
}

body {
  font-family: arial;
  font-size: 1.3rem;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin: 14px 0;
  line-height: 22px;
}